:root{

    background-color: #172230;

}

.text,
.description{

    color: rgb(255, 255, 255);
    font-size: 15px;

}

.title{

  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: sticky;
  font-size: 40px;

 }

 .description{

  text-align: center;
  line-height: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }

#navBar{

  top: 20px;
  border-radius: 30px;
  height: 50px;
  width: 90%;
  background-color: #111;
  left: 5%;
  position: absolute;
  z-index: 3;

}

#projects{

  text-align: center;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.0);
  height: 30px;
  position: absolute;
  top: -10px;
  width: 200px;
  right: 0px;
  transition-duration: .15s;
  overflow: hidden;
  line-height: 40px;
}


#projects:hover{
  background-color: #111;
  height: 120px;
  border-radius: 20px;
}

#projects tl{
  padding-bottom: 14px;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
}

#projects a{
  cursor: pointer;
  font-size: 17px;
  text-decoration: none;

}

#home{

  cursor: pointer;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.0);
  font-size: 20px;
  line-height: 28px;
  height: 30px;
  padding: 10px 15px;
  position: absolute;
  text-align:center;
  transition-duration: .15s;

}

#home:hover{
  color: rgb(104, 104, 104);
}

#showcase{

  position: absolute;
  top: 150px;
  left: 10vw;

}

#whoami{
  background-color: rgb(38, 97, 84, 0.5);
  border-radius: 25px;
  height: 200px;
  width: 500px;
  padding: 25px;
  transition: 0.25s;
  min-width: 250px;
}

#whoami:hover{

  box-shadow: 0px 0px 20px #121212;

}

#icon{
  height: 200px;
  border-radius: 50%;
}

#name{
  color: #dadada;
  font-size: 30px;
  position: relative;
  left: 225px;
  top: -235px;
  width: 250px;
}

#about{
  line-height: 30px;
  color: #bdbdbd;
  font-size: 20px;
  position: relative;
  left: 225px;
  top: -240px;
  width: 250px;

}

#skills{
  position: relative;
  top: 300px;
}

#github {
  position: absolute;
  bottom: 100px;
  right: 20px;
  background-color: #396e75;
  border-radius: 50%;
  height: 10px;
  box-shadow: none;
  }
   
   #github:hover {
    box-shadow: var(--hover-shadows);
   }
   
   #github:active {
    box-shadow: var(--hover-shadows),
                 var(--accent) 0px 0px 30px 5px;
    background-color: var(--accent);
    transform: scale(0.95);
}

@media screen and (max-width: 980px) {

#navBar{

  top: 0px;
  height: 100px;
  background-color: #111;
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0px;
  border-radius: 0%;
  
}
  

#whoami{
  position: absolute;
  left: -5vw;
  top: 50px;
  width: 75vw;
  height: 35vw;

}

#icon{
  position: absolute;
  height: 30vw;
  border-radius: 50%;
  top: 30px;
}

#name{
  color: #dadada;
  font-size: 5vw;
  position: absolute;
  left: 35vw;
  top: 0px;
  width: 400px;
}

#about{
  line-height: 5vw;
  color: #bdbdbd;
  font-size: 3vw;
  position: relative;
  left: 35vw;
  top: 8vw;
  width: 400px;

}

#projects{

  text-align: center;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.0);
  position: fixed;
  top: 15px;
  right: 10px;
  height: 40px;
  transition-duration: .15s;
}


#projects:hover{
  background-color: #111;
  height: auto;
  border-radius: 20px;
  height: 100%;
  width: 400px;
  right: 0px;
}

#projects pr a{

  position: relative;
  top: 75px;
  font-size: 40px;
  text-decoration: none;
  color: #396e75;

}

#projects tl{
  padding-bottom: 14px;
  color: #fff;
  font-size: 30px;
}

#home{

  cursor: pointer;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.0);
  font-size: 40px;
  height: 30px;
  padding: 25px 15px;
  transition-duration: .15s;

}

}