:root{

    background-color: #303030;

}

.text,
.description{

    color: rgb(255, 255, 255);
    font-size: 15px;

}

.title{

  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: sticky;
  font-size: 40px;

 }

 .description{

  text-align: center;
  line-height: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }

/*

main page

*/

#navBar{

  top: 20px;
  border-radius: 30px;
  height: 50px;
  width: 90%;
  background-color: #111;
  left: 5%;
  position: absolute;
  z-index: 3;

}

#projects{

  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 0px solid #000;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.0);
  font-size: 20px;
  line-height: 28px;
  height: 30px;
  padding: 10px 15px;
  position: absolute;
  right: 0%;
  text-align:center;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  text-decoration: none;
}


#projects:hover{
  color: rgb(183, 0, 255);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

#home{

  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 0px solid #000;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.0);
  font-size: 20px;
  line-height: 28px;
  height: 30px;
  padding: 10px 15px;
  position: absolute;
  left: 0%;
  text-align:center;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  text-decoration: none;

}

#home:hover{
  color: rgb(183, 0, 255);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

#showcase{

  position: absolute;
  top: 100px;
  width: 80%;
  left: 10%;
  height: 50%;

}

/*

projects showcase

*/


#info{
    margin: auto;
    width: 35%;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    border-bottom: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:  rgba(255, 255, 255, 0.521);

}

#innerinfo{
  top: 100px;
}

.sidebar {

    height: 75%;
    width: 100px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 0;
    background-color: #111;
    padding-top: 16px;
    transition-duration: 1s;
    line-height: 30px;
    line-height: 20px;
  }

  .sidebar a {
    /* padding: 10px 10px 11px 16px; */
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    text-align: center;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px;
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 700px) {
    .sidebar {padding-top: 15px;}
    .sidebar {min-height: 270px;}
    #navBar{
      animation: hide 0.5s forwards;
    }
    
    @keyframes hide {
      from {}
      to {      
        top: -100px;
        position: absolute;

      }
    }
  }

  @media screen and (min-height: 700px) {

    #navBar{
      animation: showNavBar 0.5s forwards;
    }
    
    /* @keyframes showNavBar {
      from {top: -100px;position: absolute;color: rgb(183, 0, 255);border-top-right-radius: 30px;border-bottom-right-radius: 30px;}
      to {      
        top: 20px;
        border-radius: 30px;
        height: 50px;
        width: 90%;
        background-color: #111;
        left: 5%;
        position: absolute;
        z-index: 3;
      } */
    /* } */

  }


   #github {
       position: absolute;
    --hover-shadows: 16px 16px 33px #121212,
                      -16px -16px 33px #303030;
    --accent: fuchsia;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.1em;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    border: none;
    border-radius: 1.1em;
    background-color: #212121;
    color: white;
    padding: 1em 2em;
    transition: box-shadow ease-in-out 0.3s,
                background-color ease-in-out 0.1s,
                letter-spacing ease-in-out 0.1s,
                transform ease-in-out 0.1s;
    box-shadow: 13px 13px 10px #1c1c1c,
                -13px -13px 10px #262626;
   }
   
   #github:hover {
    box-shadow: var(--hover-shadows);
   }
   
   #github:active {
    box-shadow: var(--hover-shadows),
                 var(--accent) 0px 0px 30px 5px;
    background-color: var(--accent);
    transform: scale(0.95);
   }


   #AppImageCreator{

    position: absolute;
    left: 10%;
    width: 80%;
    top: 150px;
    height: 800px;

   }

   #aicdesc{

    position: absolute;
    left: 70%;
    top: 250px;
    width: 35%;

   }

   #aicleanguage{

    color: orange;
    position: absolute;
    top: 400px;
    width: 30%;
    text-align: center;
    left: 75%;

   }

   #aicshortcut{

    position: absolute;
    top: 20px;
    height: auto;
    width: auto;

   }

#CPUProperties{

  position: absolute;
  left: 10%;
  width: 80%;
  top: 1000px;
  height: 800px;


}

 #cpupdesc{

  position: absolute;
  left: 70%;
  top: 250px;
  width: 35%;

 }

 #cpupimage{

  position: absolute;
  left: 10%;

 }

 #cpupleanguage{

  color: orange;
  position: absolute;
  top: 400px;
  width: 30%;
  text-align: center;
  left: 75%;

 }

 #cpupshortcut{

  position: absolute;
  top: 100px;
  width: auto;
  height: auto;

 }


 #NasWebInterface{

  position: absolute;
  left: 10%;
  width: 80%;
  top: 1850px;
  height: 800px;
  /* background-color: aquamarine; */

 }

 #nwipdesc{

  /* background-color: wheat; */
  position: absolute;
  width: 40%;
  left: 30%;
  text-align: center;
  top: 100px;

 }

 #nwiimage{

  position: absolute;
  left: 10%;

 }

 #nwileanguage{

  color: darksalmon;
  position: absolute;
  top: 400px;
  width: 40%;
  text-align: center;
  left: 30%;

 }

 #nwishortcut{

  position: absolute;
  top: 200px;
  width: auto;
  height: auto;

 }

   .leanguage{

    font-size: 25px;

   }



   @media (max-width: 1600px) {

    #aicimage{
 
     display: none;
     position: absolute;
     top: 20%;
     left: 5%;
 
    }
 
    #aicdesc{
 
     width: 60%;
     top: 100px;
     left: 20%;
     position: absolute;
 
    }
 
 
    #aicleanguage{
 
     position: absolute;
     width: 60%;
     text-align: center;
     left: 20%;
     top: 310px;
 
    }
 

    #CPUProperties{

      position: absolute;
      left: 10%;
      width: 80%;
      top: 600px;
      height: 800px;
    
    
    }


    #cpupimage{

     display: none;
 
    }
 
    #cpupdesc{

     width: 60%;
     top: 100px;
     left: 20%;
     position: absolute;
 
    }
 
 
    #cpupleanguage{

     position: absolute;
     width: 60%;
     text-align: center;
     left: 20%;
     top: 220px;
 
    }

    #NasWebInterface{

      top: 1100px;

    }

    #nwileanguage{

      top: 550px;
  
    }

 
 }

 @media (max-width: 700px) {

  #aicdesc{


   top: 120px;
   width: 90%;
   text-align: center;
   left: 5%;
   position: absolute;

  }


  #aicleanguage{

   position: absolute;
   width: 60%;
   text-align: center;
   left: 20%;
   top: 340px;

  }


  #CPUProperties{

    position: absolute;
    left: 10%;
    width: 80%;
    top: 700px;
    height: 800px;
  
  
  }

  #cpupdesc{

    top: 100px;
   top: 130px;
   width: 80%;
   left: 10%;
   position: absolute;

  }


  #cpupleanguage{

   position: absolute;
   width: 60%;
   text-align: center;
   left: 20%;
   top: 230px;

  }

  .sidebar{

    animation: retrieve 0.5s;
    animation-fill-mode: forwards;

  }

  #github{

    padding: 1em 1em;
    text-align: center;
    

  }

  #NasWebInterface{

    top: 1100px;
    width: 100%;
    left: 0%;

  }

  #nwipdesc{

    width: 80%;
    left: 10%;

  }

  #nwileanguage{

    top: 400px;

  }

}

@keyframes retrieve {
100%{

  left: -400px;

}

}