@import url('https://fonts.cdnfonts.com/css/source-code-pro');

p, .subtitle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 30px;
    color: #bdbdbd;
    font-size: 20px;
    user-select: none;
  }
  
  .link{
    text-decoration: none;
    color: rgba(127, 255, 212, 0.678);
    user-select: none;
  }
  
  .link:hover{
    text-decoration: none;
    color: rgba(89, 182, 151, 0.678);
    user-select: none;
    cursor: pointer;
  }
  
  .title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: #d4d4d4;
   }

.code{

  font-family: 'Source Code Pro', sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 15px;

}

.page{

  height: auto;
  scroll-snap-align: start;
  overflow: hidden;
  min-height: 950px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.showcase{

    position: relative;
    width: 80vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    min-height: 500px;
    
  }

*:focus{
  outline: none;
}

body {

  background-color: rgb(36, 36, 36);

}

:root{

  /* background: #242424;  */
  scroll-snap-type: y mandatory;  

}

#terminalBox{

  position: absolute;
  top: 20px;

}

#textShowcase{

  position: absolute;
  top: 155px;
  height: 40px;
  width: 1100px;
  left: 90px;

}

#terminal{

  user-select: none;

}

#headerbar{

    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 9;
    align-items: center;
    background-color: rgba(210,210,210,0.1);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact #title{

  transition-duration: 0.2s;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  align-items: center;

}

#contact{

  border-radius: 20px;
  transition-duration: 0.2s;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

}

#title:hover{

  height: 475px;
  z-index: 50;

}

#titlemenu{
  display: none;
  position: absolute;
  width: 150px;
  height: 200px;
  top: 50px;
  left: -35px;
  border-radius: 10px;
  z-index: 24230;

}

#title:hover > #titlemenu{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: -50px;
  background-color: rgba(42,42,42);
  transform: translateY(10px);

}

#about{

  border-radius: 20px;
  transition-duration: 0.2s;
  position: fixed;
  display: flex;
  align-items: center;
  height: 20px;
  left: 10px;
  /* : auto; */


}

#tTopBar{

  position: relative;
  left: 65px;
  width: 1125px;
  top: 100px;
  cursor: move;
  height: 40px;
  z-index: 0;

}

#menuButton{

  position: absolute;
  width: 35px;
  height: 35px;
  top: 100px;
  right: 143.5px;
  border-radius: 4px;
  transition-duration: 0.2s;

}

#menuButton:hover{

  background-color: hsla(0, 0%, 74%, 0.11);
  cursor: pointer;

}

#downArrow{

  position: fixed;
  bottom: 0px;
  font-size: 50px;
  opacity: 0;
  color: #bdbdbd;
  /* left: -320px; */
  animation: wave 8s 10s infinite, show 1s 7.5s forwards;

}

#downArrow.hide{

  animation: none;
  opacity: 0;

}

#downArrow.show{

  animation: wave 0s 0s infinite, show 0s 0s forwards;
  opacity: 1;

}

#more{

  position: relative;
  top: 30vh;
  width: 30vw;
  text-align: center;

}

@keyframes wave {
  0%{
    bottom: 0px;
  }
  50%{
    bottom: 40px;
  }
  100%{
    bottom: 0px;
  }
}

@keyframes show {
  to{

    opacity: 1;

  }
}

#github{

  position: absolute;
  right: 20px;
  top: 10px;
  height: 35px;
  color: white;
  
}


#immaginiDesc{

  text-align: center;
  position: relative;
  top: -20px;

}

#immaginiBox{

  position: relative;
  left: -100px;

}

#iTopBar{

  position: relative;
  width: 85%;
  left: 7.5%;
  top: 100px;
  cursor: move;
  height: 40px;
  z-index: 10;

}

#forecastBox{

  position: relative;
  right: -150px;
  /* : auto; */

}

#wInput{

  position: relative;
  margin-right: 20vw;

}

#wInput > #wlinput{

  position: relative;
  width: 20vw;
  height: 40px;
  border-radius: 10px;
  background-color: #393939;
  color: #e8e8e8;
  padding-left: 10px;
  padding-right: 10px;
  user-select: none;
  font-size: 18px;
  border: none;


}
  
#weather {
  width: 250px;
  border-radius: 20px;
  height: 225px;
  transition: 0.25s;
  padding-top: 1px;

}

#weather:hover {
width: 300px;
height: 250px;
box-shadow: 5px 5px 20px #00000085;

}

#weather p {
position: relative;
width: 100%;
min-width: 120px;
text-align: center;
font-family: "Nunito",sans-serif;
font-size: 15px;
color: white;
transition: 0.25s;
}

#weather:hover p{
font-size: 18px;
}

#weather:hover h2{
font-size: 22px;
}

#weather h2 {

text-align: center;
font-family: "Nunito",sans-serif;
font-size: 18px;
color: white;
transition: 0.25s;
}



@media only screen and (max-width: 1130px), only screen and (max-device-width: 1130px) {

  #more{

    position: relative;
    top: 0vh;
    width: 30vw;
    text-align: center;
  
  }

    .window{

      display: none;

    }

    #terminalBox{

      display: none;

    }

}

@media only screen and (max-width: 620px), only screen and (max-device-width: 620px) {

:root{

  overflow-x: hidden;
  scroll-snap-type: none;  
  
}

p, a, .subtitle{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 4vw;
  line-height: 5vw;
  user-select: none;
  text-decoration: none;

}

.link{
  text-decoration: none;
  color: rgba(127, 255, 212, 0.678);
  user-select: none;
}

.title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10vw;
  line-height: 10vw;
  color: #d4d4d4;
  text-align: left;

 }

 .subtitle {

  text-align: left;

 }
  
.page{

  width: 150vw;
  height: 100vw;
  min-height: 0px;
  left: 25px;
  display: flex;
  align-items: start;

}

.code{

  font-size: 5vw;

}

.window{

  display: none;

}

#headerbar{

  height: 14vw;

}

#github{

  position: fixed;
  right: 20px;
  top: 2vw;
  height: 10vw;
  z-index: 20;

}

#downArrow{

display: none;

}

#titlemenu{
  display: none;
  position: absolute;
  width: 30vw;
  height: 550%;
  top: 5vh;
  left: -30px;
  border-radius: 10px;
}

#terminal{

    opacity: 0;
  
}

#terminalText{

  position: absolute;
  left: -50px;
  width: 95%;
  top: 0px;

}

#textShowcase{

  top: 15vw;
  max-width: 95vw;

}

#terminalBox{
  
  position: absolute;
  width: 200%;
  height: 50vw;
  left: 0px;
  background-color: rgb(17, 17, 17);
  border-bottom: solid 2px #bdbdbd;
  display: flex;
  top: 0px;

}

#more{

  position: absolute;
  left: 25px;
  top: 50vw;
  width: 92%;
  text-align: left;

}

#immaginiWindow{
  
  opacity: 0;

}

#immagini{

  width: 75%;
  height: 100%;
  padding-left: 0px;

}

#immaginiDesc{

  text-align: left;
  top: 0px;
  left: 20px;

}

#immaginiBox{

  position: absolute;
  top: 150vh;

}

#downArrow{

  display: none;

}

#forecastDesc{

  position: absolute;
  text-align: left;
  width: 150vw;

}


}