@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root{
  /* Used for ui elements background. Use appropriate proportions for each one */
  --primary-color: #191919;
  --secondary-color: #242424;
  --tertiary-color: #4f4f4f;

  --blur-secondary: #2424248e;

  /* Used for shadows, under ui elements */
   --shadow-color-heavy: #0a0a0aad;
   --shadow-color-medium: #00000080;
   --shadow-color-light: #00000042;

  /* Used to refine a page colors, to give a personal touch */
  --accent-color-primary: #494949;
  --accent-color-secondary: #3b3b3b;

    /* Used to refine a page colors, to give a personal touch */
  --font-primary-color: #e5e2df;
  --font-secondary-color: #9d9d9d;
  --font-link-color: #d9e5e4;

  /* Different elements may need a border, use with caution, might not look good everywhere */
  --border-width-primary: 6px;
  --border-width-secondary: 2px;
}

[data-theme="light"] {

  /* Used for ui elements background. Use appropriate proportions for each one */
  --primary-color: #e5e2df;
  --secondary-color: #fefefe;
  --tertiary-color: #565656;

  --blur-secondary: #fefefe3f;

  /* Used for shadows, under ui elements */
  --shadow-color-heavy: #0a0a0ace;
  --shadow-color-medium: #00000080;
  --shadow-color-light: #00000042;

  /* Used to refine a page colors, to give a personal touch */
  --accent-color-primary: #d9e5e4;
  --accent-color-secondary: #c5e9e6;

  /* Font colors, different types of text need different colors */
  --font-primary-color: #111111;
  --font-secondary-color: #636363;
  --font-link-color: #336863;

  /* Different elements may need a border, use with caution, might not look good everywhere */
  --border-width-primary: 6px;
  --border-width-secondary: 2px;
}

* {
  transition-delay: 0s !important;
  transition-duration: 0.25s;
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--font-link-color);
  transition-duration: 0s;
}

p, h1, h2, h3, h4, b, ul > * ,li > * {
  transition-duration: 0.01s !important;
}

body{
    background-color: var(--primary-color);
    margin: 0px;
    color: var(--font-primary-color);
    max-height: 100vh;
    top: 0px;
    position: absolute;
    min-width: 100vw;
    left: 0px;
}

#pfp{
    position: relative;
    top: 100%;
    transform: translateY(-50%);
    width: 25%;
    max-width: 200px;
    border-radius: 50%;
    border: var(--border-width-primary) solid var(--accent-color-secondary);
    z-index: 2;
}

.content > #home {
    display: flex;
    flex-direction: column;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    z-index: 24234;
}

.content > #home > #top, .body-top {
    height: 100px;
}

.content > #home > #home-body > #contact-theme {
  display: flex;
  gap: 1.5rem;
  justify-content: right;
  align-items: center;
}

#contacts {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

#contacts > * {
  max-height: 20px;
  color: var(--text-primary-color);
  text-decoration: none;
}


.fa-paint-roller, .fa-brands, .fa-solid{
  font-size: 1rem;
}

.fa-linux {
  font-size: 1.5rem;
  width: 25px;
}

#home-body, #pfp {
    backdrop-filter: blur(10px);
    background-color: var(--blur-secondary);
}

.content > #home > #home-body, .body {
    backdrop-filter: blur(10px) !important;
    background-color: var(--blur-secondary) !important;
    height: fit-content;
    padding: 30px;
    box-shadow: var(--shadow-color-medium) 0px 0px 10px;
    border-radius: 20px;
    border-top: var(--border-width-primary) solid var(--accent-color-secondary);
    margin: 25px;
  }

.themer {
  scale: 115%;
  display: flex;
  align-items: center;
  width: 20px;
  cursor: pointer;
}

.link {
  color: var(--font-link-color);
  text-decoration: none;
}

.more-arrow {
    color: var(--tertiary-color);
    /* transition-duration: 0.25s; */
}

#content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* height: fit-content; */
}

#home-body > #title {
  margin-left: 180px;
  text-align: left;
  font-size: 30px;
}

#other > #title {
  text-align: center;
  width: 100%;
}

#content > #left > #subtitle {
    margin-left: 60px;
    text-align: left;
    font-size: 20px;
}

#content > #left > #projects {
    margin-top: 75px;
    text-align: left;
    font-size: 20px;
}

#title:hover .more-arrow {
  transform: translateX(10px);
}

#content > #left > #projects > #subtitle {
    margin-top: 40px;
    padding-left: 35px;
    line-height: 40px;
}

#content > #right {
  padding-top: 5rem;
}

#content > #right > #languages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#other {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#languages > #langs {
    width: 30%;
    padding: 20px;
    font-size: larger;
}

@media screen and (max-width: 890px) {
    body{
      padding: 0px;
    }
    #other {
      padding-top: 1rem;
    }
    .body {
      padding: 10px;
      padding-top: 30px;
      border-radius: 0px !important;
      height: 100vh;
      margin: 0px !important;
    }
    .link{
      font-size: 22px !important;
    }
    #home-body > #title {
      text-align: center;
      width: 100%;
      position: relative;
      font-size: 25px !important;
      margin-left: 0px;
    }
    #other > #title {
      text-align: left;
      width: 100%;
    }

    #home {
        /* height: 100vh !important; */
    }
    #content{
      display: grid;
      grid-template-columns: repeat(1, 2fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px; 
    }
    #content > #right {
      padding: 0px;
    }
    #content > #right > #languages {
      display: unset;
      flex-direction: unset;
      align-items: left;
    }
    #content > #right > #languages > #title{
      margin-top: 30px;
      padding-left: 0px;
    }
    #content > #right > #languages > #subtitle {
      padding-left: 20px;
      line-height: 20px;
      text-align: left !important;
    } 
    #content > #left {
      padding: 0px;
    }
    #content > #left > #subtitle {
      margin-top: 0px;
      margin-left: 20px;
    }
    #content > #left > #projects {
      font-size: 18px;
      margin-top: 50px;
      margin-left: 0px;
      width: 100%;
    }
    #content > #left > #projects > #subtitle {
      margin-top: 20px;
      padding-left: 0px;
  }
  #back{
    margin-left: 1rem;
  }
  }