@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url('themes.css');

* {
  transition-duration: 0.25s;
  font-family: "Josefin Sans", sans-serif;
}

body{
    background-color: var(--primary-color);
    margin: 0px;
    color: var(--font-primary-color);
    padding-left: 10px;
    padding-right: 10px;

}

#pfp{
    position: relative;
    top: 100%;
    transform: translateY(-50%);
    width: 25%;
    max-width: 200px;
    border-radius: 50%;
    border: var(--border-width-primary) solid var(--accent-color-secondary);
}

.content > #home {
    display: flex;
    flex-direction: column;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.content > #home > #top, .body-top {
    height: 130px;
}

.content > #home > #home-body > #theme-select {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: right;
  height: 25px;
}

.content > #home > #home-body > #theme-select > #random-select {
  display: flex;
  gap: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.switcher {
  display: flex;
  align-items: center;
  width: 25px;
}

.fa-paint-roller{
  scale: 150%;
  color: var(--accent-color-secondary);
}

.content > #home > #home-body, .body {
    height: 100%;
    background-color: var(--secondary-color);
    padding: 30px;
    box-shadow: var(--shadow-color-medium) 0px 0px 10px;
    border-radius: 20px;
    border-top: var(--border-width-primary) solid var(--accent-color-secondary);
}

.themer {
  scale: 115%;
  width: 20px;
}

.link {
  color: var(--font-link-color);
  text-decoration: none;
}

.more-arrow {
    color: var(--tertiary-color);
    /* transition-duration: 0.25s; */
}

#content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

#home-body > #title {
    margin-left: 180px;
    text-align: left;
    font-size: 30px;
}

#content > #left > #subtitle {
    margin-left: 60px;
    text-align: left;
    font-size: 20px;
}

#content > #left > #projects {
    margin-top: 75px;
    text-align: left;
    font-size: 20px;
}

#title:hover .more-arrow {
  transform: translateX(10px);
}

#content > #left > #projects > #subtitle {
    margin-top: 40px;
    padding-left: 50px;
}

#content > #right {
  padding-top: 25px;
}

#content > #right > #languages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#content > #right > #languages > #subtitle{
    text-align: center;
    max-width: 75%;
}

#content > #right > #subtitle {
  width: 200px;
  outline: auto;
}

#languages > #langs {
    width: 30%;
    padding: 20px;
    font-size: larger;
}

 .switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 17.5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  -webkit-transition: .2s;
  transition: .2s;
  outline: solid 2px var(--font-primary-color);
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 1.75px;
  background-color: var(--font-primary-color);
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: rgba(0, 0, 0, 0);
  outline: solid 2px var(--font-primary-color);
}

input:focus + .slider {
  background-color: var(--accent-color-secondary);
  outline: solid 2px var(--font-primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}

.theme-switcher {
  cursor: pointer;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  color: var(--font-primary-color-color);
  border: none;
  box-shadow: 2px 2px 2px var(--tertiary-color);
  align-items: center;
}

.theme-switcher:active {
  box-shadow: 0px 0px 0px var(--tertiary-color);
}

@media screen and (max-width: 890px) {
  body{
    padding: 0px;
  }
    .body {
      padding: 10px;
      padding-top: 30px;
      border-radius: 0px !important;
      height: 100vh;
    }
    .link{
      font-size: 22px !important;
    }
    #home-body > #title {
      text-align: center;
      width: 100%;
      position: relative;
      font-size: 25px !important;
      margin-left: 0px;
    }
    #home {
        height: 100vh !important;
    }
    #content{
      display: grid;
      grid-template-columns: repeat(1, 2fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px; 
    }
    #content > #right {
      padding: 0px;
    }
    #content > #right > #languages {
      display: unset;
      flex-direction: unset;
      align-items: left;
    }
    #content > #right > #languages > #title{
      margin-top: 30px;
      padding-left: 0px;
    }
    #content > #right > #languages > #subtitle {
      padding-left: 20px;
      line-height: 20px;
    } 
    #content > #left {
      padding: 0px;
    }
    #content > #left > #subtitle {
      margin-top: 0px;
      margin-left: 20px;
    }
    #content > #left > #projects {
      font-size: 18px;
      margin-top: 50px;
      margin-left: 0px;
      width: 100%;
    }
    #content > #left > #projects > #subtitle {
      margin-top: 40px;
      padding-left: 20px;
  }
  #back{
    margin-left: 1rem;
  }
  }